@font-face {
  font-family: "RickAndMorty";
  src: url(../fonts/RickAndMorty/get_schwifty.ttf) format("truetype");
}

body {
  background-image: url(../assets/img/1200x675mf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

:root {
  --font-title-card: "RickAndMorty", sans-serif;
  --font-info-card: "Patrick Hand", sans-serif;

  --color-v1: #8bcf21;
  --color-v2: #2f9331;
}
